<ion-header translucent>
            <ion-toolbar>
	        <ion-buttons slot="primary">
	          <ion-button (click)="AdicionarNota()">
	            <ion-icon slot="icon-only" ios="add-outline" md="add-outline"></ion-icon>
	          </ion-button>
	        </ion-buttons>
              <ion-title>Notas</ion-title>
            </ion-toolbar>
          </ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
	  <ion-list>
        <ion-item *ngFor="let item of items">
          <ion-label (click)="ExibirNota(item.id_nota)">
            <h2> {{ item.titulo_nota }}</h2>
            <p> {{ item.data_txt }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
